@font-face {
    font-family: 'Bellota-LightItalic';
    src: url('../fonts/bellota/Bellota-LightItalic.otf');
}
@font-face {
    font-family: 'Bellota-BoldItalic';
    src: url('../fonts/bellota/Bellota-BoldItalic.otf');
}

body {
    background-color: #dfe6e9;
}

a {
    text-decoration: none;
    color: #74b9ff;
}

a:hover {
    text-decoration: none;
    color: #0984e3;
}

textarea:focus {
    outline: 0;
}

.top_bar {
    width: 100%;
    min-width: 1050px;
    height: 40px;
    background-color: #74b9ff;
    border-bottom: 0.25em solid #0984e3;
    margin: 0 0 10px 0;
    display: inline-flex;
    position: fixed;
    z-index: 10;
}
.top_bar .logo a {
    font-family: 'Bellota-BoldItalic', sans-serif;
    margin-left: 10px;
    font-size: 27px;
    position: relative;
    top: 0px;
    color: #0984e3;
    text-shadow: #b3cffe 0.5px 0.5px 0px;
}

.top_bar .logo a:hover {
    text-decoration: none;
}

.top_bar nav {
    float: right;
    right: 1px;
    position: absolute;
    margin: 7px;
}
.top_bar nav a {
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 17px;
}
.top_bar nav a:hover {
    color: #121563;
    border-bottom: 5px solid #e17055;
}

.wrapper {
    margin: 0 auto;
    top: 50px;
    position: relative;
    width: 75%;
    min-width: 950px;
}

.column {
    background-color: #fff;
    padding: 6px;
    border: 1px solid #b2bec3;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #b2bec3;
    z-index: -1;
}

.user-details {
    width: 250px;
    float: left;
    margin-bottom: 20px;
}

.user-details img {
    height: 125px;
    border-radius: 4px;
    margin-right: 5px;
}

.user-details-left-right {
    width: 125px;
    display: inline-block;
    position: absolute;
}

.main-column {
    float: right;
    width: 70%;
    z-index: -1;
    min-height: 160px;
}

.post-form {
    width: 100%;
}

.post-form textarea {
    width: 81%;
    height: 60px;
    border-radius: 4px;
    margin-right: 5px;
    border: 1px solid #d3d3d3;
    font-size: 12px;
    padding: 5px;
}

.post-form input[type="submit"] {
    width: 11%;
    height: 60px;
    border: none;
    border-radius: 3px;
    background-color: #0984e3;
    font-family: 'Bellota-BoldItalic', sans-serif;
    color: #005498;
    text-shadow: #6ca3ff 0.5px 0.5px 0px;
    font-size: 90%;
    position: absolute;
    outline: 0;
    margin: 0;

}

.post-form input[type="submit"]:active {
    padding: 5px 4px 4px 5px;
    color: #fff;
}

.status-post {
    width: 96%;
    font-size: 15px;
    padding: 0px 5px;
    min-height: 75px;
    cursor: pointer;
}

.status-post .post-profile-pic {
    float: left;
    margin-right: 7px;
}

.status-post .post-profile-pic img {
    border-radius: 5px;
}

#comment_iframe {
    max-height: 250px;
    width: 90%;
    margin-top: 5px;
}

.comment_section {
    padding: 0 5px 5px 5px;
    margin-bottom: 20px;
}

.comment_section img {
    margin: 0 3px 3px 3px;
    border-radius: 3px;
}

#comment_form textarea {
    border-color: #d3d3d3;
    width: 85%;
    height: 35px;
    border-radius: 5px;
    color: #616060;
    font-size: 14px;
    margin: 3px 3px 3px 5px;
}

#comment_form input[type="submit"] {
    border: none;
    background-color: #74b9ff;
    color: #0984e3;
    width: 85px;
    height: 32px;
    border-radius: 6px;
    position: absolute;
    font-size: 1.1em;
    font-family: 'Bellota-BoldItalic', sans-serif;
    text-shadow: #a3d2f7  0.5px 0.5px 0px;
    margin-top: 6px;
}

.newsfeedPostOptions {
    padding: 0px;
    text-decoration: none;
    color: #0984e3;
    border: none;
}

.newsfeedPostOptions iframe {
    height: 17px;
    width: 120px;
    border: 0;
}

.comment_like {
    border: 0;
    background-color: #fff;
    font-size: 14px;
    padding: 0px;
    color: #74b9ff;
    cursor: pointer;
}

.comment_like:focus {
    outline: 0;
}

.comment_like:hover {
    color: #0984e3;
}

.like_value {
    display: inline;
    font-size: 14px;
    color: #000;
}

.profile_left {
    top: -10px;
    width: 20%;
    max-width: 300px;
    min-width: 150px;
    height: 100%;
    float: left;
    position: relative;
    background-color: #74b9ff;
    border-right: 20px solid #9dcdfe;
    color: #fff;
}

.profile_left img {
    width: 75%;
    min-width: 80px;
    margin: 20px;
    border: 5px solid #9dcdfe;
    border-radius: 50%;
}

.profile_left .profile_info {
    display: list-item;
    background-color: #3e95d8;
    padding: 10px 0 10px 0;
}

.profile_left .profile_info p {
    margin: 0px 0 0px 20px;
    word-wrap: break-word;
}

.danger {
    background-color: #e74c3c;
}
.warning {
    background-color: #f0ad4e;
}
.default {
    background-color: #bdc3c7;
}
.success {
    background-color: #2ecc71;
}
.info {
    background-color: #3498db;
}
.deep_blue {
    background-color: #0043f0;
}

.profile_left input[type="submit"] {
    margin: 7px 0 0 7px;
    border-radius: 5px;
    height: 30px;
    border: none;
    width: 90%;
    color: #fff;
}
.profile_left input[type="button"] {
    margin: 7px 0 0 7px;
    border-radius: 5px;
    height: 30px;
    border: none;
    width: 90%;
    color: #fff;
}

#accept_button {
    height: 30px;
    width: 20%;
    margin: 5px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #2ecc71;
}

#ignore_button {
    height: 30px;
    width: 20%;
    margin: 5px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #e74c3c;
}

.delete_button {
    float: right;
    height: 22px;
    width: 22px;
    border-radius: 4px;
    padding: 0px;
    text-align: center;
    border: none;
    right: -15px;
    position: relative;
    font-weight: 600;
}

.profile-main-column {
    min-width: 675px;
    float: left;
    width: 70px;
    z-index: -1;
    margin-left: 20px;
}

.profile_info_bottom {
    margin: 10px 0 0 7px;
}

#message_textarea {
    width: 80%;
    margin-right: 8px;
}

#message_submit {
    height: 52px;
    width: 120px;
    margin: 0;
    position: absolute;
    border: none;
    background-color: #74b9ff;
    color: #0984e3;
    border-radius: 6px;
    font-size: 1.1em;
    font-family: 'Bellota-BoldItalic', sans-serif;
    text-shadow: #a3d2f7  0.5px 0.5px 0px;
}

.message {
    border: 1px solid #000;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    display: inline-block;
    background-color: #0984e3;
}

.message#blue {
    background-color: #0984e3;
    float: right;
    border-color: #2980b9;
    margin-bottom: 5px;
}

.message#green {
    background-color: #00b894;
    float: left;
    border-color: #0aa184;
}

.loaded_messages {
    height: 65%;
    min-height: 300px;
    max-height: 400px;
    overflow-y: scroll;
    margin-bottom: 10px;
}

.loaded_conversations {
    max-height: 200px;
    overflow-y: scroll;
}

.user_found_messages {
    border-bottom: 1px solid #d3d3d3;
    padding: 5px 5px 10px 5px;
}

.user_found_messages:hover {
    background-color: #d3d3d3;
}

.user_found_messages img {
    height: 35px;
    float: left;
    position: relative;
    top: 4px;
}

.user_found_messages p {
    font-size: 15px;
}

#grey {
    color: #8c8c8c;
}

.timestamp_smaller {
    font-size: 10px;
}

.resultDisplay {
    padding: 5px 5px 0 5px;
    height: 60px;
    border-bottom: 1px solid #d3d3d3;
}

.resultDisplay a {
    float: none;
}

.resultDisplay:hover {
    background-color: #bebebe;
}

.liveSearchProfilePic img {
    height: 50px;
    border-radius: 5px;
    margin: 1px 12px 0px 2px;
    float: left;
}

.liveSearchText {
    background-color: transparent;
    color: #0984e3;
    line-height: 19px;
}

.liveSearchText p {
    margin-left: 10px;
    font-size: 12px;
}

.tab-content {
    margin-top: 25px;
}
